.primary-nav{
    margin: 1em;
    padding: ;
    background-color: lightpink;
     display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;

}


.h1{
    text-align: center;

}

.h2{
    display: block;

}
.h3{
    display: block;

}

.header{
    margin:1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

